.homeDiv{
    padding: 2%;
}
.devs {
    width: 50%;
    border-radius: 25px;
}

/* .container {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.description {
    margin: 5%;
    padding: 2%;
    background-color: #F4A5AE;
    border-radius: 25px;
}